/* Add here all your CSS customizations */

.panel-sign .required {
    display: block;
    font-weight: normal;
    font-size: 1em;
    color: #777;
}

.admin-form .required {
    display: block;
    font-weight: normal;
    font-size: 1em;
    color: #777;
    top: 0;
}

.admin-form .checkbox input[type="checkbox"] {
    margin-left: 0;
}

.inner-toolbar + .panel-body {
    margin-top: 52px;
}

/* Admin-view-table */

.admin-view-table > tbody > tr > th {
    width: 25%;
    text-align: right;
    font-weight: normal;

}

.admin-view-table > tbody > tr > th,
.admin-view-table > tbody > tr > td {
    border-bottom: 1px solid #eff2f7;
    border-top: 0;
    padding: 15px;
    vertical-align: middle;
}

.admin-view-table > tbody > tr:last-child > th,
.admin-view-table > tbody > tr:last-child > td {
    border-bottom: 0;
}

.admin-view-list > tbody > tr > td {
    vertical-align: middle;
}

/* adm-restaurant-view */

.btn.head-control-btn{
    position: relative;
    top: -6px;
}

/* admin-viev-item */

.btn-sm.head-control-btn{
    position: relative;
    top: -3px;
    margin-left: 5px;
}

